:root{
    --h1_color: #9BD9FF;
    --text_status: #ffffff;
    --text_status_now_color: #afff95;
    --engage_color: #69C6FF;
    --mss_color: #94b1ff;
    /*--mss_color: #00B35A;*/
    --logs_background: #14171A;
    --logs_text_color: #ffffff;
    --logs_element_color: #99C1F6;
}

.mailings_settings{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 1185px;
    align-items: center;
    margin: 35px auto;
}

.mailings_status{
    width: 1020px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 12px;
}
.mailings_status h1{
    /*font-size: 38px to 28px;*/
    font-size: clamp(1.75rem, 1.5495rem + 0.9434vw, 2.375rem);
    font-weight: 500;
    color: var(--h1_color);
}
.mailing_status_now{
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
    color: var(--text_status);
    font-size: 16px;
    font-weight: 400;
    transition: opacity 0.2s ease-in-out;

}
.mailing_status_now button{
    /*font-size: 18px to 16px;*/
    font-size: clamp(1rem, 0.9599rem + 0.1887vw, 1.125rem);
}
#engage_mms{
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    gap: 5px;
    /*font-size: 18px to 14px;*/
    font-size: clamp(0.875rem, 0.7948rem + 0.3774vw, 1.125rem);
    font-weight: 400;
    color: var(--text_status_now_color);
}
#engage_mms span{
  font-weight: 500;
}
.engage{
color: var(--engage_color);
}
.mms{
    color: var(--mss_color);
}

.mailings_server_logs{
    width: 908px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    padding: 45px 57px 55px 57px;
    border-radius: 25px;
    background-color: var(--logs_background);
}
.mailings_server_logs h3{
    color: var(--logs_text_color);
    /*font-size: 22px to 18px;*/
    font-size: 22px;
    font-weight: 500;
}
.mailings_server_logs ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    max-height: 247px;
    overflow-y: auto;
    font-weight: 400;
    color: var(--logs_element_color);
}
.mailings_server_logs ul li{
    display: flex;
    flex-direction: row;
    width: 98%;
    /*align-items: center;*/
    gap: 15px;
    /*18 to 16px*/
    font-size: clamp(1rem, 0.9599rem + 0.1887vw, 1.125rem);
}
.mailings_server_logs ul::-webkit-scrollbar {
    width: 29px; /* Ширина скролла */
}

.mailings_server_logs ul::-webkit-scrollbar-thumb {
    background: #5fa0f6; /* Цвет ползунка */
    /*background: #855ff6; !* Цвет ползунка *!*/
    border-radius: 25px; /* Закругление */
}

.mailings_server_logs ul::-webkit-scrollbar-track {
    background: #0A0B0F; /* Цвет фона скроллбара */
    border-radius: 25px;
}
.cursor {
    display: inline-block;
    width: 10px;
    color: #9BFF9F; /* Основной цвет неона */
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-shadow: 0 0 5px #9BFF9F, 0 0 10px #9BFF9F, 0 0 20px #66FF66, 0 0 30px #33FF33;
    transition: opacity 0.2s ease-in-out;
}
.visible {
    opacity: 1;
}
.cursor:not(.visible) {
    opacity: 0;
}
.logs_row{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.toggle_scroll{
  color: #889fff;
    display: flex;
    position: relative;
    transition: 0.5s ease-in-out;
}

.toggle_scroll.active{
    color: #9BFF9F;
    padding-left: 35px;
}
.toggle_scroll.active:before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    left: 0;
    top: 0;
    background-image: url('/auto_scroll.svg');
    background-size: contain;
    transition: 0.5s ease-in-out;
}
#log_time{
    color: #ffffff6e;
    font-size: 12px;
}
.log_data{
    font-size: 14px;
    color: #808080;
}
.log_title{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: fit-content;
    gap: 2px;
    white-space: nowrap;
}
.log_action{
    font-size: 14px;
    color: #95aaff;
}

@media screen and (max-width: 1380px) {
.mailings_settings{
    width: 90%;
}

    .mailings_status{
        width: 75%;
        gap: 5px;
    }
    .mailings_server_logs{
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .mailings_settings{
        flex-wrap: wrap;
        gap: 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mailings_settings .default_card_container{
        margin-left: -1%;
    }

    #engage_mms{
        margin-top: 10px;
    }

    .mailings_server_logs{
        width: 73%;
        padding: 35px 37px 35px 37px;
    }
    .mailings_server_logs ul{
        margin-top: 25px;
        overflow-y: auto;
        overflow-x: unset;
        width: 110%;
        margin-left: -5%;
        padding-right: 5px;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 20px;
    }
    .logs_row{
        flex-direction: column;
        width: fit-content;
        align-items: flex-start;
    }
    .mailings_server_logs ul::-webkit-scrollbar {
        width: 5px; /* Ширина скролла */
    }

}

