:root{
    --background_card: linear-gradient(to bottom left, #663db3 0%, #3a2970 100%);
    --h2_description_color: #c8c0ff;
    --background_inputs: rgba(25, 0, 24, 0.46);
    --line_element_color: #2C2E30;
    --text_color: #ffffff;
    --text_color_h3: #ffffff;
    /*--text_color_h3: #a99bff;*/
    --p_description_color: rgba(255, 255, 255, 0.53);
    --settings_background_color: #6c1ad5;
    --general_title_color: #ffffff;
}
#section_setting{
    width: 1150px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.settings_card{
    width: 927px;
background: var(--background_card);
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 25px;
    padding: 43px 63px 43px 63px;
}
.settings_card h2{
    /*font-size: 38px to 28px;*/
    font-size: clamp(1.75rem, 1.5495rem + 0.9434vw, 2.375rem);
    font-weight: 500;
    color: var(--general_title_color);
}
.settings_card p{
    color: var(--h2_description_color);
    font-weight: 500;
    /*font-size: 16px to 14px;*/
    font-size: clamp(0.875rem, 0.8349rem + 0.1887vw, 1rem);
}
.settings_panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 45px;
    align-items: center;
}
.settings_panel_element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.settings_panel_element label{
    /*font-size: 18px to 16px;*/
    font-size: clamp(1rem, 0.9599rem + 0.1887vw, 1.125rem);
    font-weight: 500;
    color: var(--text_color);
}
.settings_panel_element input{
    background-color: var(--background_inputs);
    border-radius: 25px;
    padding: 15px 10px 15px 30px;
    width: 35px;
}
.settings_panel_element span{
    color: var(--line_element_color);
    font-weight: 700;
}
.saved_btn{
    background-color: var(--settings_background_color);
    border-radius: 55px;
    padding: 10px 36px 10px 36px;
    font-weight: 600;
    /*font-size: 18px to 16px;*/
    font-size: clamp(1rem, 0.9599rem + 0.1887vw, 1.125rem);
    height: fit-content;
    color: #ffffff;
}
.description_container{
    display: flex;
    flex-direction: row;
    width: 911px;
    gap: 83px;
    flex-wrap: wrap;
    margin-left: 52px;
    margin-top: 48px;
}
.description_content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 414px;
}
.description_content h3{
    /*font-size: 28px to 26px;*/
    font-size: clamp(1.625rem, 1.5849rem + 0.1887vw, 1.75rem);
    font-weight: 500;
    color: var(--text_color_h3);
}
.description_content p{
    color: var(--p_description_color);
    /*font-size: 18px to 14px;*/
    font-size: clamp(0.875rem, 0.7948rem + 0.3774vw, 1.125rem);
    font-weight: 400;
}
#settings_range_row_items{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
@media screen and (max-width: 1380px) {
    #section_setting{
      width: 90%;
      align-items: center;
  }
    .settings_card{
        width: 85%;
    }
    .description_container{
        width: 80%;
        gap: 30px;
        margin-left: unset;
    }

}
@media screen and (max-width: 680px) {
    .settings_card{
        width: 80%;
        padding: 35px 0 35px 30px;
    }
    .settings_panel_element span{
        display: none;
    }
    .settings_panel_element{
        width: 100%;
        justify-content: space-between;
    }
    .settings_panel_element:nth-last-of-type(1).settings_panel_element input:last-child{
        border-radius: 10px 25px 25px 10px;
    }
    .settings_panel_element:nth-last-of-type(1).settings_panel_element input:nth-of-type(1){
        border-radius: 25px 10px 10px 25px;
        margin-right: -5px;
    }
    #section_setting{
        width: 100%;
    }
    .settings_panel{
        margin-top: 10px;
        width: 90%;
        gap: 20px;
    }
    .settings_panel_element input{
        padding: 10px;
        text-align: center;
    }
    .saved_btn{
        width: 100%;
        padding: 15px 36px 15px 36px;
    }
}